<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <parameter name="browser" value="ff" />
    <classes>
      <class name="test.java.test.ApacheSignUpPageTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test1">
  <parameter name="browser" value="ff" />
    <classes>
      <class name="test.java.test.ApacheSignUpPageTestSpanish"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
